nav {
    background-color: #e0dbd9;
}

.menu {
    display: flex;
    padding: 0 20px;
    display: flex;
    justify-content: right;
}

li:hover {
    background-color: #e0dbd9;
    border-radius: 10px;
    transition: 1s;
}