nav {
    background-color: rgb(255, 111, 0);
}

.menu {
    display: flex;
    font-size: 1.5em;
    padding: 0 20px;
}

li:hover {
    background-color: rgba(28, 128, 190, 0.699);
    border-radius: 10px;
    transition: 1s;
}