<div class="container">
    <h2>Crear un Post</h2>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">titulo del Post</label>
            <input type="text" class="form-control" formControlName="titulo">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Escribe aqui...</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="texto"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Autor</label>
            <input type="text" class="form-control" formControlName="autor">
        </div>
        <div class="mb-3">
            <label class="form-label">categoria</label>
            <input type="text" class="form-control" formControlName="categoria">
        </div>
        <div class="mb-3">
            <label class="form-label">Fecha</label>
            <input type="date" class="form-control" formControlName="fecha">
        </div>

        <div class="mb-3">
            <input class="btn btn-outline-primary" type="submit" value="Enviar">
        </div>


    </form>
</div>