h2 {

    margin-top: 100px;
    font-weight: bolder;
}

form {

    padding: 20px;
    background-color: whitesmoke;
    border: 5px solid #cdc5c0;
    border-radius: 20px;

}

.btn {
    background-color: #e0dbd9;
    color: white;
    padding: 5px 100px;
}