<div class="container">
    <select (change)="filtroCategoria($event)" class="form-select" aria-label="Default select example">
        <option value="todos" selected>Selecciona Categoria</option>
        <option value="Responsabilidad">Responsabilidad</option>
        <option value="Autoestima">Autoestima</option>>
        <option value="El colmo de un programador">El colmo de un programador</option>

    </select>

    <div class="row">
        <div class="foto col-sm-6 col-lg-3 m-auto" *ngFor="let post of AllPosts">
            <figure>
                <img [src]="post.imagen" class=" rounded mb-2" alt="..." width="320px" height="320px">
                <div class="capa">
                    <h2>{{post.titulo}}</h2>
                    <p class="card-text">{{post.texto}} </p>
                    <p> {{post.autor}} <cite title="Source Title">{{post.fecha}}</cite></p>
                </div>
            </figure>
        </div>
    </div>